* {
    margin-left: 5px;
    padding: 0;
    box-sizing: border-box;
    width: 800px;
}

header {
    width: auto;
    height: 150px;
    background-image: url(img/pattern.png);
    background-repeat: repeat-x;
    background-color: #ddd;
}

.container {
    
}

img {
    height: 250px;
}

.img1 {
    width: 350px;
}

.img2 {
    width: 400px;
}

.top-logo {
    background-image: url(img/logo.svg);
    height: 80px;
    background-repeat: no-repeat;
}

.title_text {
    color: gray;
    line-height: 5px;
}

#booleaner {
    color: blue;
}

.photo {
    font-size: small;
    line-height: 5px;
}
.div-top {
    width: 150px;
    height: 150px;
    background-image: url(img/monitor.jpg);
    color: white;
}
.div-bottom {
    width: 150px;
    height: 150px;
    background-image: url(img/graph.jpg);
    color: white;
}